/* RESET CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    display: none;
}

/* HEADER */
.avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

#cart-quantity {
    width: 1.25rem;
    height: 1.25rem;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .fs-tiny {
        font-size: 0.75rem;
    }
}