{% extends "base.html" %}
{% block content %}

<div>
    <h1>Flask Shop Template</h1>
</div>

<!--  -->
<div>
    <h2>Top Products</h2>

    <div class="row">
        {% for product in top_products %}
        <div class="col-12 col-lg-3 mb-4">
            {% include "components/product_card.html" %}
        </div>
        {% endfor %}
    </div>
</div>

<!--  -->
<div>
    <h2>Latest Products</h2>

    <div class="row">
        {% for product in latest_products %}
        <div class="col-12 col-lg-3 mb-4">
            {% include "components/product_card.html" %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}