<div class="card">
    <!-- Card main -->
    <a class="text-decoration-none text-dark" href="{{ url_for('product_detail', product_id=product.id) }}">
        <div class="ratio ratio-1x1">
            <img class="card-img-top img-fluid rounded-top" src="{{ url_for('static', filename='images/product_pictures/' + product.image) }}" style="object-fit: cover;" alt="{{ product.title }}">
        </div>

        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text mb-1">{{ "%.2f"|format(product.price) }} €</p>
            <small class="text-muted">Quantity: {{ product.quantity }}</small>
        </div>
    </a>

    <!-- Card footer -->
    {% if current_user.is_authenticated and not current_user.is_admin %}
    <div class="card-footer border-top bg-white d-flex align-items-center justify-content-center" style="height: 70px;">
        {% if product.quantity > 0 %}
        <form class="w-100 d-flex justify-content-between align-items-center" method="POST" action="{{ url_for('add_to_cart', product_id=product.id) }}">
            <input class="w-100 me-2 form-control" style="width: 80px;" type="number" name="quantity" value="1" min="1" max="{{ product.quantity }}">

            <button class="btn btn-primary" type="submit" >
                <i class="bi bi-bag-plus-fill"></i>
            </button>
        </form>
        {% else %}
        <span class="px-5 py-2 badge bg-danger">SOLD OUT</span>
        {% endif %}
    </div>
    {% endif %}
</div>